* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
}

h1 {
    color: #FF7575;
    font-family: "Verdana", "Arial", sans-serif;
    text-align: center;
    margin: 10px;
}

.navigation {
    text-align: center;
}

.nav-link {
    margin: 5px;
    display: inline-block;
}

.link-list {
    font-weight:lighter;
}

.main-image {
    width: 300px;
    height: auto;
}

h2 {
    color: #949BFF;
    font-family: "Verdana", "Arial", sans-serif;
}

p {
    color: #A1A1A1;
    font-family: "Verdana", "Arial", sans-serif;
}

ul {
    color: #A1A1A1;
    font-family: "Verdana", "Arial", sans-serif;
    font-weight:bold;
}

ol {
    color: #A1A1A1;
    font-family: "Verdana", "Arial", sans-serif;
}

a {
    color: #E175FF;
    font-family: "Verdana", "Arial", sans-serif;
}